@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&family=Nunito+Sans&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";

body {
  font-family: "Fira Sans", Arial, sans-serif;
  @apply min-h-screen w-full text-typography bg-background overflow-x-hidden;
}

main {
  @apply overflow-x-hidden;
}

.logo {
  font-family: "Fira Mono", Arial, sans-serif;
}

.banner__overlay--down {
  background-image: linear-gradient(
    to bottom,
    transparent 10%,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 1)
  );
}

.banner__overlay {
  background-color: rgba(0, 0, 0, 0.6);
}

@layer utilities {
  .scroll-bar::-webkit-scrollbar {
    width: 5px;
  }

  .scroll-bar::-webkit-scrollbar-thumb {
    background: #888;
  }

  .snap-x {
    scroll-snap-type: x mandatory;
  }

  .snap-x > * {
    scroll-snap-align: start;
    flex-shrink: 0;
  }

  .snap-none {
    scroll-snap-type: none;
  }

  .grid-cols-18 {
    grid-template-columns: repeat(18, minmax(0, 1fr));
  }

  .col-span-16 {
    grid-column: span 16 / span 16;
  }
}

@media screen and (min-width: 768px) {
  .banner__overlay {
    background-image: linear-gradient(
      77deg,
      rgba(0, 0, 0, 0.8) 25%,
      transparent 85%
    );

    background-color: transparent;
  }
}

@import "tailwindcss/utilities";

.popup__arrow,
.popup__arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  background: inherit;
}

.popup__arrow {
  visibility: hidden;
}

.popup__arrow::before {
  visibility: visible;
  content: "";
  transform: rotate(45deg);
}

.popup[data-popper-placement^="top"] > .popup__arrow {
  bottom: -4px;
}

.popup[data-popper-placement^="bottom"] > .popup__arrow {
  top: -4px;
}

.popup[data-popper-placement^="left"] > .popup__arrow {
  right: -4px;
}

.popup[data-popper-placement^="right"] > .popup__arrow {
  left: -4px;
}

/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  @apply bg-primary-500;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px var(--primary-color), 0 0 5px var(--primary-color);
  opacity: 1;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: var(--primary-color);
  border-left-color: var(--primary-color);
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.swiper-container {
  @apply !overflow-visible;
}

.swiper-button {
  @apply cursor-pointer flex items-center justify-center p-2 rounded-full border-white text-white border-2 hover:bg-white hover:text-black transition duration-300;
}

.swiper-button-disabled {
  @apply opacity-40 hover:text-white hover:bg-transparent cursor-not-allowed;
}

.app {
  @apply min-h-screen;
}
